
<ion-content (click)="inicios()" *ngIf="main" style="background-color: black; cursor: pointer;">
<p style="color: white; font-size: 28px;">Bienvenido</p>
</ion-content>

<ion-content  *ngIf="starts" style="background-color: black;">
  <div style="display: block;">
    <p style="color: white; font-size: 20px; cursor: pointer;">Inicio</p>
    <p style="color: white; font-size: 20px; cursor: pointer;">Registro</p>
  </div>
</ion-content>